
  <h1>Address</h1>
  <p>Please provide address for shipping.</p>

  <form  >
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Name</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    <label for="exampleFormControlTextarea1">Address</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    <label for="exampleFormControlTextarea1">Pincode</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <button type="submit" class="btn submit btn-dark" ><a href="/order" >Submit</a></button>
  <button type="submit" class="btn submit btn-light" ><a href="/" >Cancel</a></button>
  </form>
