/* You can add global styles to this file, and also import other style files */
body{
    background-color: #fc8210;
}
.cart-item{
    font-size: small;
}

.filters
{
    font-size: small;
}

.product-btn{
    font-size: small;
}
.primary{

    background-color: #007bff;
}

.fa-heart
{
   color: palevioletred;
   cursor: pointer;
}

.fa-remove
{
    font-size:24px;
    cursor: pointer;
}

.buy{
    text-align: center;
    margin: auto;
    display: block;
    width: 200px;
}
