
<div class="row">


    <div class="col-md-8">
        <app-product-list></app-product-list>

     </div>

     <div class="col">
        <app-cart></app-cart><br>
        <div class="buynow">
           <button type="button" *ngIf="logoutbtn" class="btn btn-light product-btn list-group-item active buy"><strong><a routerLink="/buy-item" routerLinkActive="active">Place Order</a></strong></button>
           <!-- <button type="button" class="btn btn-sm primary product-btn"
           (click)="handleRemoveFromCart()" >Remove Product</button> -->
         <button type="button" class="btn btn-light product-btn list-group-item active buy"  *ngIf="loginbtn"name="button"><a routerLink="/register" routerLinkActive="active">Place Order</a></button>
        </div>

     </div>

</div>
