
<div class="title d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3  border-bottom shadow-sm">
    <h1 class="brand my-0 mr-md-auto font-weight-normal">

          <i class="icon fas fa-mobile-alt size:5x"></i>Ecommerce

    </h1>

  <nav class="nav navbar navbar-expand-lg navbar-light bg-light rounded">

<div class="collapse navbar-collapse" id="navbarsExample">
<ul class="navbar-nav mr-auto">
<li class="nav-item">
<a class="nav-link"  routerLink="/shop" routerLinkActive="active">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" *ngIf="loginbtn" routerLink="/login" routerLinkActive="active">Login</a>
</li>
<li class="nav-item">
<button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
</li>
<li class="nav-item">
<a class="nav-link" *ngIf="loginbtn" routerLink="/register" routerLinkActive="active">Registration</a>
</li>

</ul>
</div>
</nav>
</div>
