div{
  background-color:light green;
}
.title{
    background-color: #ffa41b;
}
.icon{
  padding: 20px;
}
.nav{
  font-size: 1.5rem;
  background-color: #ffa41b;
  padding: 0px;
}
.brand{
  font-family: 'Raleway', sans-serif;
  background-color: #ffa41b;
}
