

<h2 class="text-center">Registration</h2>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
<div class="form-group">
<label for="name">Name</label>
<input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name">
</div>
<div class="form-group">
    <label for="Date of Birth">Date of Birth</label>
    <input type="text" name="Date of Birth" formControlName="Date of Birth" autocomplete="off" class="form-control input-sm" placeholder="Name">
</div>
<div class="form-group">
<label for="email">EmailId</label>
<input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
</div>
<div class="form-group">
    <label for="Phoneno">Phoneno</label>
    <input type="text" name="Phoneno" formControlName="phoneno" autocomplete="off" class="form-control input-sm" placeholder="Phone no">
</div>
<div class="form-group">
    <label for="UserName">UserName</label>
    <input type="text" name="UserName" formControlName="UserName" autocomplete="off" class="form-control input-sm" placeholder=" UserName">
    </div>
<div class="form-group">
<label for="Password">Password</label>
<input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
</div>
<div class="form-group">
    <label for="Password">Confirm Password</label>
    <input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Confirm Password">
</div>
<div class="form-group">
    <label for="Password">Address</label>
    <input type="text" name="Address" formControlName="Address" autocomplete="off" class="form-control input-sm" placeholder="Address">
</div>
<div class="form-group">
    <label for="Password">Card Type</label>
    <input type="text" name="Card Type" formControlName="Card Type" autocomplete="off" class="form-control input-sm" placeholder="Card">
</div>
<div class="form-group">
    <label for="Savings Account No">Savings Account No</label>
    <input type="text" name="savings account no" formControlName="Savings Account No" autocomplete="off" class="form-control input-sm" placeholder="Account no">
</div>
<div class="form-group">
    <label for="IFSC CODE">IFSC CODE</label>
    <input type="text" name="IFSC CODE" formControlName="IFSC CODE" autocomplete="off" class="form-control input-sm" placeholder="Ifsc code">
</div>
<div>
<button type="submit" class="btn btn-light" ><a routerLink='/login'>Register</a></button>
</div>
<div>
<button type="submit" class="btn btn-light" ><a routerLink='/login'>Reset</a></button>
 </div>
<div>
<div class="col-md-3">
</div>

